<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<script type="text/javascript" charset="utf-8">
  window.open('http://localhost:3000/customers/create_presentation?mscrm=true&msCrmContactId=67534679&iContactId=UIDVXNlck5vZGU6OTE1Nw==_CIDQWN0aXZpdHlOb2RlOjEzOQ==_DID4TJJCIEQ99999999_SIDU2Vzc2lvbk5vZGU6ODY5MTgw_UUIDe1d531b5-8642-4c82-861e-7c009234d7f7_ID2&elementContactId=6420');
</script>